<html>
   <body>
   
      <table border = 1>
         <thead>
            <td>Enrollment No.</td>
            <td>Name>/td<
            <td>Age</td>
            <td>City</td>
         </thead>
         
         {% for row in rows %}
            <tr>
               <td>{{row[0]}}</td>
               <td>{{row[1]}}</td>
               <td> {{ row[2]}}</td>
               <td>{{row[3]}}</td>	
            </tr>
         {% endfor %}
      </table>
      
      <a href = "/">Go back to home page</a>
      
   </body>
</html>
